*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Outfit";
    min-height: 100vh;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 20em;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 10px 5px rgba(0, 0, 0, .05);
}



#qr-code img{
    margin: auto;
    max-width: 100%;
    height: 18em;
    border-radius: .5rem;
}
#first{
    color: hsl(218, 44%, 22%);
    text-align: center;
    padding: .7rem;
    font-weight: 700;
    font-size:  0.9375rem;
    margin:  0.9375rem  0.9375rem 0  0.9375rem;

}
#second{
    color: hsl(220, 15%, 55%);
    text-align: center;
    padding: .7rem;
    font-weight: 400;
    font-size:  0.9375rem;
    margin:  0.9375rem;
}